# Anchor
#
.anchor
target
**/*.rs.bk

# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log


# Environment variables
#
.env

# Circom
#
dist
*/*.ptau
/artifacts/
circuits/*/artifacts
circuits/*/**/artifacts

# Solana local cluster
#
test-ledger